html {
    text-align: center;
}

.small-side {
    height: 200vh;
}

.button {
    background-color: #3AAFA9;
    margin-top: 15px;
}

.wide-side {
    background-color: #DEF2f1;
    height: 200vh;
}

.box {
    margin: 20px;
}

.box p,
.box h1 {
    text-align: center;
    display: inline;
}

input {
    margin: 0;
    margin-top: 15px;
}

.five {
    margin-left: 10px;
}

.rainorshine {
    margin-left: 400px;
    margin-top: 17px;
}

.currentDetails {
    margin-bottom: 10px;
}

.errorbox {
    background-color: red;
    color: white;
    font-size: 20px;
}

.hide {
    display: none;
}

#currentIcon {
    height: 100px;
}

.query:hover {
    background-color:#3AAFA9;
}